/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.preload {
	position:fixed;
	z-index:-99;
	opacity:0;
}

body {

}

.black {
    color: black;
    text-decoration: underline;
	text-decoration-color: darkred !important;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: darkred;
    text-decoration: underline dotted;
    background-color: white;
}

a:active{
    color: darkred;
    text-decoration: underline dotted;
    background-color: white;
}

#rightPanel {
    height: 100vh;
    padding: 0;
	display: inline-block;
}

.container-fluid {
    height: 100vh;
    overflow: hidden;
}

.portfolio {
    width: 100%;
    height: 100%;
    text-align: center;
}

.leftPanel {
    padding: 0;
}

#background {
    height: 100vh;
    width: 100%;
    position: relative;
    display: inline;
	z-index: -1;
}

.double-mobile-nav {
	display: none;
}

.navigation {
    height: 10vh;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
		position: relative;
    margin-bottom: -5vh;
}

.navigation ul {
	display: block;
}


.navButt {
    width: 33.3333%;
    position: relative;
    display: inline;
    float: left;
	text-decoration: underline dotted !important;
}

.hrf {
    display: inline;
	text-decoration-color: darkred !important;
}

#welcomeText {
	position: absolute;


    line-height: 100vh;
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 20rem;
	background-color:rgba(0, 0, 0, 0);
}
.b-popup {
	z-index: 999 !important;
}

iframe {
	overflow: scroll !important;
}

@media only screen and (max-width: 800px){
	.content-head {
			text-align: center;
			margin-bottom: -0.1rem;
		}
	.b-popup {
		height: 80vh;
	}
	#welcomeText {
		top: 1vh;
		font-size: 8em;
	}
	#background {
	}
	.container-fluid {
    height: 100vh;
    overflow: auto;
	}
	.double-mobile-nav {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 109 !important;
		background-color: white;
	}
	.no-mobile {
		display: none;
	}
	.navigation {
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: -1vh;
	}
	.far {
		right: 10% !important;
		top: 6vh !important;
		font-size: 1.3rem !important;
	}
	.educationItemAbout {
		text-indent: 0rem !important;
		line-height: 2rem;
	}
	.portfolioItems{
		margin-top: 10vh !important;
	}
	.educationItems{
		margin-top: 10vh !important;
	}
	.portfolioItemTitle {
		font-size: 1.5rem !important;
	}
	.social {
		position: fixed !important;
		top: 0 !important;
		background-color: white;
		z-index: 99 !important;
		margin-top: -2vh;
		height: 7vh !important;
	}
	.socialLinks {
		font-size: 1rem !important;
		background-color: white;
		padding: 0 -5px 0 -5px;
		text-decoration: none !important;
	}
}

@media only screen and (min-width: 1670px){
	.portfolioItem {
		width: 30vh !important;
		height: 30vh !important;
	}
	.popup-link {
		width: 28.8vh !important;
		height: 28.8vh !important;
	}
	.aboutMeText {
		font-size: 2.5rem !important;
	}
	.myName {
		font-size: 5rem !important;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
		.navigation {
			font-size: 1.5rem;
			width: 100%;
	}
}

@media screen and (orientation: portrait) {
	.double-mobile-nav {
		bottom: 0;
		z-index: 99 !important;
		background-color: white;
	}
}

.welcome {
    position: relative;
    z-index: 5;
}

.container-fluid {
    width: 100vw;
}

.portrait {
    width: 30vh;
    height: 30vh;
    border: 10px double black;
    margin-top: 5vh;
}



img.rot {
    animation: 10s cubic-bezier(.47,-.44,.49,1.46) none running infinite rot;
    -webkit-animation: 10s cubic-bezier(.47,-.44,.49,1.46) none infinite running rot;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(7deg);
    }

}
.aboutMe {
    padding: 5vh;
}

.myName {
    font-family: 'Patua One', cursive;
    font-size: 4.4rem;
    color: black;
}

.aboutMeText{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.5rem;
    color: black;
}

.social {
    height: 12vh;
    position: absolute;
    bottom: 0;
	left: 0;
    width: 100%;
	padding-top: 3vh;
}

.socialLinks {
    font-family: 'Lobster', cursive;
    color: black;
    text-decoration: underline dotted;
	display: inline;
	margin-left: 1rem;
	margin-right: 1rem;
}

.portfolioItems {
    position: absolute;
		top: 0;
		padding-top: 3vh;
		padding-bottom: 3vh;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.educationItems {
    position: absolute;
		top: 0;
		padding-top: 3vh;
		padding-bottom: 3vh;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.form {
	width: 100%;
	height: 100vh;
}

.borderDarkred {
    border: white 7px double;
}

.borderDarkgray {
    border: slategray 7px double;
}

.borderGray {
    border: darkgray 7px double;
}

.borderDimgray {
    border: dimgray 7px double;
}

.borderSlategray {
    border: black 7px double;
}

.borderWhitesmoke {
    border: whitesmoke 7px double;
}

.portfolioItem {
	margin: 1vh;
    width: 36vh;
    height: 36vh;
    display: inline-block;
    border-radius: 5%;
    box-shadow: 0 0 1px 3px black;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	z-index: 9;
}

.popup-link {
	padding: 4vh 2vh 0 2vh;
			width: 34.25vh;
	height: 34.25vh;
	overflow: hidden;
	display: inline-block;
	background-color: rgba(255,255,255,0.9);
	z-index: -1;
	background-size: cover;
	background-position: center;

}
.popup-link1-hub:hover {
	background-image: url('/img/GitHub.jpg') !important;
}

.anime-quotes:hover {
	background-image: url('/img/anime_quotes.jpg') !important;
}

.codecombat:hover {
	background-image: url('/img/codecombat.jpg') !important;
}

.wiki:hover {
	background-image: url('/img/wiki.jpg') !important;
}

.django-blog:hover {
	background-image: url('/img/django_blog.jpg') !important;
}

.calculator:hover {
	background-image: url('/img/calculator.jpg') !important;
}

.responsive-iphone:hover {
	background-image: url('/img/responsive_iphone.jpg') !important;
}

.hide-popup {
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.popup-link:hover{
	background-color: rgba(255,255,255,0) !important;}

.popup-link:hover h1 {
	background-color: rgba(255,255,255,0) !important;
	opacity: 0 !important; }


.educationItem {
    margin: 1vh;
    width: 90%;
		margin-left: 5%;
    height: auto;
    display: inline-block;
    background-color: rgba(255,255,255,0.7);;
    border-radius: 1vh;
    box-shadow: 0 0 1px 3px black;
    padding: 2.5vh 5vh 4vh 5vh;
}

.portfolioItemTitle {
    display: inline;
	color: black;
    font-size: 2rem;
    font-family: 'SairaCondensed', sans-serif;
	font-weight: 600;

}

.educationItemTitle {
    display: inline-block;
    font-size: 2rem;
	color: black;
    font-family: 'Patua One', sans-serif;
	text-shadow: 0 0 3px white;
	margin-bottom: -5vh;
}


.b-popup{
	display: none;
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0px;
	text-align: center;
	z-index: 7;
	background-color: rgba(0,0,0,0.7)
}
.b-popup .b-popup-content{
    margin:5vh auto auto auto;
    width: 90%;
    height: auto;
    padding:2.5vh 0 5vh 0;
    background-color: whitesmoke;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
		z-index: 8;
}

.form{
    margin:2.5vh 5% auto 5%;
	display: inline-block;
	text-align: center;
    width: 90%;
    height: 90vh;
    padding:2.5vh;
    background-color: whitesmoke;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
		z-index: 8;
}

.far {
	position: absolute;
	top: 9vh;
	right: 8%;
	z-index: 9;
	background-color: whitesmoke;
	font-size: 2rem;
	color: lightgray;
	font-family: 'Lobster', cursive;
}

.far:hover{
	background-color: whitesmoke
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.educationItemAbout {
	font-family: "Saira Condensed", sans-serif;
	text-align: center;
	color: black;
	text-align: left;
	margin-top: 0.5rem;
	text-indent: 2rem;
} .educationItemAbout a {
	background-color: white;
	text-decoration: underline;
	text-decoration-color: darkred;
} .educationItemAbout span {
	text-shadow: 0 0 4px white;
}

/*
 * POPUP STYLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11111
*/

.popup-header {
	font-family: "Varela Round", sans-serif;
	text-align: center;
}

.popup-about {
	font-family: "Varela Round", sans-serif;
	text-align: center;
}

.popup-text {
	margin: 0 25% 0 25%;
	font-family: "Saira Condensed", sans-serif;
	font-size: 1.25rem;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
